* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "h h h"
                         "n m m"
                         "f f f";
    grid-template-columns: 150px 1fr 1fr;
    grid-template-rows: 100px 1fr 100px;

    background: #efefef;
}

.app-header {
    grid-area: h;
    color: aqua;
}

.app-footer {
    grid-area: f;
}

.app-main {
    grid-area: m;
}


